<div class="dialog-header">
  <h2>Delete</h2>
  <button mat-icon-button [mat-dialog-close]="false" class="close-btn" type="button">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="content-container">
  <hr class="separator-line" />
  <mat-dialog-content class="centered-content">
    Are you sure you want to delete {{ data.name }}?
  </mat-dialog-content>
  <hr class="separator-line" />
</div>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" class="rounded-button" type="button">
    Cancel
  </button>
  <button
    mat-button
    color="warn"
    [mat-dialog-close]="true"
    class="rounded-button"
    type="button"
  >
    Delete
  </button>
</mat-dialog-actions>
